discord.py[voice]==1.7.3
upsidedown
pycountry
Pillow
aiosqlite
bs4
aiohttp
beautifulsoup4
psutil
git+https://github.com/Kyuunex/aioosuapi.git@1.2.1
git+https://github.com/Kyuunex/aioosuapi.git@2.0.0-placeholder.5
python-dateutil
appdirs
