discord.py[voice]
upsidedown
pycountry
Pillow
aiosqlite
bs4
aiohttp
beautifulsoup4
psutil
git+https://github.com/Kyuunex/aioosuapi.git@1.2.4
git+https://github.com/Kyuunex/aioosuapi.git@2.0.0-dev6
python-dateutil
appdirs
