py-cord==2.0.0b1
upsidedown
pycountry
Pillow
aiosqlite
bs4
aiohttp
beautifulsoup4
psutil
git+https://github.com/Kyuunex/aioosuapi.git@v1
git+https://github.com/Kyuunex/aioosuapi.git@v2
python-dateutil
appdirs
